---
layout: default
---



<div class="container">
  <div class="row">
  {% for work in site.works %}
    <div class="col-md-4 col-xs-6">
      <a href="{{ work.url }}">
        <div class="thumbnail">
          <img src="/img/{{ work.icon }}" alt="...">
          <div class="caption"><h4>{{ work.title }}</h4></div>
        </div>
      </a> 
    </div>
  {% endfor %}
  </div>
</div>



<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
