---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12 vimeo_cont">
      <iframe class="vimeo" src="https://player.vimeo.com/video/{{ page.vimeo }}?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <h1 class="post-title text-primary">{{ page.title }}</h1>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><span class="label label-primary">Client</span> {{ page.client }}</li>
        <li class="list-group-item"><span class="label label-primary">Agency</span> {{ page.agency }}</li>
        <li class="list-group-item"><span class="label label-primary">Produce</span> {{ page.produce }}</li>
      </ul>
    </div>
    <div class="col-md-8 well">
    {{ content }}

    </div>




  <div class="post-content">
  </div>

</div>
